<config>
  <!-- Folding Slot Configuration -->
  <gpu v='false'/>

  <!-- User Information -->
  <team v='240445'/>
  <user v='John_Rehmert'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>
  
  <!-- HTTP Server -->
  <allow v='127.0.0.1 192.168.0.0/24'/>
  
  <!-- Remote Command Server -->
  <command-allow-no-pass v='127.0.0.1 192.168.0.0/24'/>
</config>
